Autocropper.Core/bin/Debug/
Autocropper.Core/obj/Debug/
Autocropper.Demo/App_Config/ConnectionStrings.config
Autocropper.Demo/App_Config/Include/DataFolder.config
Autocropper.Demo/App_Config/ConnectionStringsOracle.config
Autocropper.Demo/App_Config/FieldTypes.config
Autocropper.Demo/App_Config/Icons.config
Autocropper.Demo/App_Config/Include/.Sitecore.Speak.Important.config
Autocropper.Demo/App_Config/Include/Channel/Sitecore.Analytics.Channel.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.Intelligence.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.Lucene.IndexConfiguration.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.Mvc.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.Processing.Aggregation.config
Autocropper.Demo/App_Config/Include/ContentTesting/Sitecore.ContentTesting.Solr.IndexConfiguration.config.disabled
Autocropper.Demo/App_Config/Include/EventHandler.config.example
Autocropper.Demo/App_Config/Include/ExperienceAnalytics/Sitecore.ExperienceAnalytics.Aggregation.config
Autocropper.Demo/App_Config/Include/ExperienceAnalytics/Sitecore.ExperienceAnalytics.Client.config
Autocropper.Demo/App_Config/Include/ExperienceAnalytics/Sitecore.ExperienceAnalytics.Reduce.config
Autocropper.Demo/App_Config/Include/ExperienceAnalytics/Sitecore.ExperienceAnalytics.StorageProviders.config
Autocropper.Demo/App_Config/Include/ExperienceAnalytics/Sitecore.ExperienceAnalytics.WebAPI.config
Autocropper.Demo/App_Config/Include/ExperienceProfile/Sitecore.ExperienceProfile.Client.config
Autocropper.Demo/App_Config/Include/ExperienceProfile/Sitecore.ExperienceProfile.config
Autocropper.Demo/App_Config/Include/ExperienceProfile/Sitecore.ExperienceProfile.Reporting.config
Autocropper.Demo/App_Config/Include/ForwardingSecurityEvents.config.example
Autocropper.Demo/App_Config/Include/FXM/Sitecore.FXM.Bundle.config
Autocropper.Demo/App_Config/Include/FXM/Sitecore.FXM.config
Autocropper.Demo/App_Config/Include/FXM/Sitecore.FXM.Lucene.Index.DomainsSearch.config
Autocropper.Demo/App_Config/Include/FXM/Sitecore.FXM.Solr.Index.DomainsSearch.config.disabled
Autocropper.Demo/App_Config/Include/FXM/Sitecore.FXM.Speak.config
Autocropper.Demo/App_Config/Include/FXM/Sitecore.Services.Client.FXM.Enabler.config.disabled
Autocropper.Demo/App_Config/Include/ja-JP.config.example
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Client.config
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.config
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Lucene.Index.List.config
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Lucene.IndexConfiguration.config
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Services.config
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Solr.Index.List.config.disabled
Autocropper.Demo/App_Config/Include/ListManagement/Sitecore.ListManagement.Solr.IndexConfiguration.config.disabled
Autocropper.Demo/App_Config/Include/LiveMode.config.example
Autocropper.Demo/App_Config/Include/ScalabilitySettings.config.example
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Automation.TimeoutProcessing.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Compatibility.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.ExcludeRobots.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.MarketingTaxonomy.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Model.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.MongoDb.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Oracle.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Outcome.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Processing.Aggregation.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Processing.Aggregation.ProcessingPools.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Processing.Aggregation.Services.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Processing.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Processing.Services.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Reporting.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Tracking.Aggregation.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Tracking.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Tracking.Database.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Analytics.Tracking.RobotDetection.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.AntiCsrf.config
Autocropper.Demo/App_Config/Include/Sitecore.Apps.TagInjection.config
Autocropper.Demo/App_Config/Include/Sitecore.Buckets.config
Autocropper.Demo/App_Config/Include/Sitecore.Buckets.WarmupQueries.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Analytics.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.DefaultConfigurations.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Analytics.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Core.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Master.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Web.config
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Core.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Master.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Web.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Solr.DefaultIndexConfiguration.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Solr.Index.Analytics.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Solr.Index.Core.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Solr.Index.Master.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.Solr.Index.Web.config.example
Autocropper.Demo/App_Config/Include/Sitecore.ContentSearch.VerboseLogging.config.example
Autocropper.Demo/App_Config/Include/Sitecore.Diagnostics.config
Autocropper.Demo/App_Config/Include/Sitecore.ExperienceEditor.config
Autocropper.Demo/App_Config/Include/Sitecore.ExperienceEditor.Speak.Requests.config
Autocropper.Demo/App_Config/Include/Sitecore.ExperienceExplorer.config
Autocropper.Demo/App_Config/Include/Sitecore.ExperienceExplorer.Speak.Requests.config
Autocropper.Demo/App_Config/Include/Sitecore.ItemWebApi.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Client.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Lucene.Index.Master.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Lucene.Index.Web.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Lucene.IndexConfiguration.config
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Solr.Index.Master.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Solr.Index.Web.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Solr.IndexConfiguration.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Media.RequestProtection.config
Autocropper.Demo/App_Config/Include/Sitecore.Mvc.config
Autocropper.Demo/App_Config/Include/Sitecore.MvcAnalytics.config
Autocropper.Demo/App_Config/Include/Sitecore.MvcExperienceEditor.config
Autocropper.Demo/App_Config/Include/Sitecore.MvcSimulator.config
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.Client.config
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.config
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.Processing.config
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.RemoteClient.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.Services.config
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.Services.RemoteServer.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.PathAnalyzer.StorageProviders.config
Autocropper.Demo/App_Config/Include/Sitecore.PipelineProfiling.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Processing.config
Autocropper.Demo/App_Config/Include/Sitecore.Publishing.DedicatedInstance.config.example
Autocropper.Demo/App_Config/Include/Sitecore.Publishing.EventProvider.Async.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Publishing.Optimizations.config.example
Autocropper.Demo/App_Config/Include/Sitecore.Publishing.Parallel.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Publishing.Recovery.config.example
Autocropper.Demo/App_Config/Include/Sitecore.SegmentBuilder.config
Autocropper.Demo/App_Config/Include/Sitecore.Services.Client.config
Autocropper.Demo/App_Config/Include/Sitecore.Shell.MarketingAutomation.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.AntiCsrf.SheerUI.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.Applications.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.ItemWebApi.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.LaunchPad.config
Autocropper.Demo/App_Config/Include/Sitecore.Speak.Mvc.config
Autocropper.Demo/App_Config/Include/Sitecore.WebDAV.config
Autocropper.Demo/App_Config/Include/Sitecore.Xdb.Remote.Client.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Xdb.Remote.Client.MarketingAssets.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Xdb.Remote.Server.config.disabled
Autocropper.Demo/App_Config/Include/Sitecore.Xdb.Remote.Server.MarketingAssets.config.disabled
Autocropper.Demo/App_Config/Include/SitecoreSettings.config.example
Autocropper.Demo/App_Config/Include/SiteDefinition.config.example
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ExperienceProfile.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Facebook.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.GooglePlus.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Klout.config.disabled
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.LinkedIn.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Lucene.Index.Master.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Lucene.Index.Web.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Lucene.IndexConfiguration.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ProfileMapping.Facebook.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ProfileMapping.GooglePlus.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ProfileMapping.LinkedIn.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ProfileMapping.Twitter.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.ScalabilitySettings.config.disabled
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.SocialMarketer.config
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Solr.Index.Master.config.disabled
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Solr.Index.Web.config.disabled
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Solr.IndexConfiguration.config.disabled
Autocropper.Demo/App_Config/Include/Social/Sitecore.Social.Twitter.config
Autocropper.Demo/App_Config/Include/SwitchMasterToWeb.config.example
Autocropper.Demo/App_Config/Include/WebDeploy.config.example
Autocropper.Demo/App_Config/Include/XdbCloud/Sitecore.Cloud.Xdb.config.disabled
Autocropper.Demo/App_Config/Include/XdbCloud/Sitecore.ContentSearch.Cloud.DefaultIndexConfiguration.config.disabled
Autocropper.Demo/App_Config/Include/XdbCloud/Sitecore.ContentSearch.Cloud.Index.Analytics.config.disabled
Autocropper.Demo/App_Config/Include/XslExtension.config.example
Autocropper.Demo/App_Config/LanguageDefinitions.config
Autocropper.Demo/App_Config/MimeTypes.config
Autocropper.Demo/App_Config/Portraits.config
Autocropper.Demo/App_Config/Prefetch/Common.config
Autocropper.Demo/App_Config/Prefetch/Core.config
Autocropper.Demo/App_Config/Prefetch/Master.config
Autocropper.Demo/App_Config/Prefetch/Webdb.config
Autocropper.Demo/App_Config/Prototypes.config
Autocropper.Demo/App_Config/Security/Domains.config
Autocropper.Demo/App_Config/Security/GlobalRoles.config
Autocropper.Demo/App_Config/XamlSharp.config
Autocropper.Demo/App_Data/MediaCache/
Autocropper.Demo/Areas/Social/
Autocropper.Demo/Areas/Social/Views/Sharing/TweetButton.cshtml
Autocropper.Demo/Areas/Social/Views/Web.config
Autocropper.Demo/bin/
Autocropper.Demo/layouts
Autocropper.Demo/obj/
Data/
Autocropper.Demo/sitecore modules/Web/ExperienceExplorer/
Autocropper.Demo/sitecore/
Autocropper.Demo/temp/
Autocropper.Demo/Views/Shared/ExperienceExplorerView.cshtml
Autocropper.suo
Autocropper.v12.suo
Autocropper.Demo/Autocropper.Demo.csproj.user
